<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TUPUX.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TUPUX.Forms.Properties.Settings>
            <setting name="UseCaseType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Primary</string>
                        <string>Secondary</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FlowType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Basic Flow</string>
                        <string>Alternative Flow</string>
                        <string>Exceptional Flow</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StepFlowType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>User</string>
                        <string>System</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Dificulty" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>High</string>
                        <string>Medium</string>
                        <string>Low</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Priority" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>High</string>
                        <string>Medium</string>
                        <string>Low</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RequerimentType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Functional</string>
                        <string>Non Functional</string>
                    </ArrayOfString>
                </value>
            </setting>
        </TUPUX.Forms.Properties.Settings>
    </userSettings>
</configuration>